.table-container {
  margin: 20px;
}
.h2{
  color: aquamarine;
}

.person-table {
  width: 100%;
  border-collapse: collapse;
}

.person-table th, .person-table td {
  border: 1px solid blue;
  padding: 8px;
  text-align: left;
}

.person-table th {
  background-color: green;
}

.edit-form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid blueviolet;
}

.edit-form .form-group {
  margin-bottom: 10px;
}

.error-message {
  color: red;
}

.submit-button, .cancel-button {
  margin-right: 10px;
}
